@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
    margin: 0;
    padding: 0;
}
/* 
@media (prefers-color-scheme: light) {
  :root {
    background-color: #f8f8f8;
    color: #181818;
  }
} */
